body {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
  font-family: 'PT Sans', sans-serif;
}

header{

}

nav{

}

.main_sales{

}

.main_promo{

}

.new_sales{

}

.e_mail_sending{

}

.bottom_nav{

}

.social_media{
  
}
